{% extends 'base.html' %}
{% block content %}

<h1>Coin List</h1>

{% for coin in coins %}
    <a href="{% url 'detail' coin.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ coin.type }}</span>
                <p>State: {{ coin.state }}</p>
                <p>Year released: {{ coin.year_released }}</p>
                <p>Date of Statehood: {{ coin.date_of_statehood }}</p>
            </div>
        </div>
    </a>

{% endfor %}

{% endblock %}